.body{
    display: flex;
    height:85vh;
    width:100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right{
    flex:1;
}

.left{
    flex:1;
}

.right img{
    height:80%;
    width:80%;
}

.left{
    padding-left: 30px;
}

.highlight-pcs {
    color: #0087ca; /* Change this to your desired color */
}

.left h1{
    font-size: 60px;
    text-align: left;
}