.navbar{
  position: relative;
    display: flex;
    flex-direction: row;
    height:15vh;
    position: sticky; top: 0;
    background-color: white; 
    z-index: 10;   
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: height 0.3s ease;

}

.navbar.scrolled {
    height: 10vh; /* Adjust height when scrolled */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow on scroll */
  }

.header{
    display: flex;
    flex-direction: row;
    height: 40%;
    align-items: flex-end;
    justify-content: center;
}

.header h1{
    font-size: 30px;
    margin-left: 0.5rem;
    margin-top:0;
    margin-bottom: 0;
}


.logo{
    height:40px;
    width:40px;
}


.navbar button{
    border: none;
    outline: none;
    background-color: #0087ca;
    height:40%;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    transition: 200ms;
    font-family: 'Open Sans', sans-serif;
}
.hamburger-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }



.scrolled button{
    height:60%;
}

.navbar button:hover{
    opacity: 0.8;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:50%;
    font-family: 'Open Sans', sans-serif;

}

.options a{
    display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.options a:hover{
    opacity: 0.8;
}



.options a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .options a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  html, body {
    height: 100%;
    margin: 0;
  }

  .sideBar{
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    height:100vh;
    right:0;
    top:0;
    color:blue;
    align-items: center;
    justify-content: space-evenly;
    width:10rem;
    animation:slideIn 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow on scroll */
  }

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }

    100%{
      transform: translateX(0);
    }
  }

  @media only screen and (max-width: 768px) {
    .options{
     display: none;
    }
    .options a{
     display: none;
    }
   
   
   
     .hamburger-button {
       display: block;
     }

     .contact-button{
      display: none;
     }
   
     
   }

   .close-button{
    position:absolute;
    height:1rem !important;
    top:1rem;
   }

   .sideBarbtn{
    height: 3rem !important;
   }