.prebuild{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
    margin-top: 5rem;
    height: 86vh;
}

.prebuild_right{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left:5rem;
    padding-left: 30px;
    margin-right: 3rem;



}

.prebuild_right img{
    height:70%;
    width:100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.prebuild_left{
    height: 100%;
    justify-content: center;
    align-items: flex-start; /* Changed to align items to the start */
    display: flex;
    flex-direction: column;
    text-align: left;
}

.prebuild_left h1{
    text-align: left;
}

.prebuild_left p{
    cursor: pointer;
    color:darkblue;
}

.prebuild_left p:hover{
    opacity: 0.7;
}

@media only screen and (max-width: 768px) {
.prebuild{
    flex-direction: column;
    height:70vh;
}

.prebuild_left h1{
    text-align: center;
}

.prebuild_left{
    align-items: center;
}

.prebuild_right{
    align-items: center;
    padding: 0;
    margin: 0;
}

.prebuild_right img{
    margin: 0;
    width:80%;
    height:80%;
}


}
